.parent {
    width: 100vw;
    height: 100vh;
    border: solid black 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                "nav article article"
    ;
}
.parent > div {
    background-color: red;
    border: solid black 1px;
}