.box{
    border: solid red 5px;
    width: 5%;
    height: 50%;
}

.container{
    height: 50vh;
    width: 100vw;
    border: solid blue 5px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
body {
    margin: 0 auto;
}