.parent {
    width: 100vw;
    height: 50vh;
    border: solid black 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.child {
    border: solid red 1px;
}
.parent :nth-child(8) {
    background-color: blue;
    grid-column: 1/4;
    grid-row: 1/3;
}